<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'stylesProfesseur/style.css' %}">
    <script defer src="{% static 'scriptProfesseur/script.js' %}"></script>
</head>
<body>
    <aside class="sidebar">
        <h2 class="profil">Bonjour Monsieur</h2>
        <ul>
            <li><a href="#" class="nav-link active" data-panel="Home"><span class="icon"></span> Calendrier</a></li>
            <li><a href="#" class="nav-link" data-panel="Absence"><span class="icon"></span> Absence</a></li>
            <li><a href="#" class="nav-link" data-panel="note"><span class="icon"></span> Note</a></li>
            <li><a href="#" class="nav-link" data-panel="rapport"><span class="icon"></span> Message / Rapport</a></li>
        </ul>
    </aside>

    <main>
        <!-- Calendrier -->
        <article id="Home" class="panel active">
            <p class="panel-title">Calendrier</p>
            <div class="calendrier-content">
                <div class="card calendrier-card">
                </div>
            </div>
        </article>

        <!-- Absence -->
        <article id="Absence" class="panel">
            <p class="panel-title">Absences</p>
            <div class="absence-content">
                <div class="card seance">
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn-valider" type="submit" name="submit_absence">Valider</button>
                    </form>
                </div>
                <div class="card tableau">
                    <table>
                        <thead>
                            <tr>
                                <th>Étudiant</th>
                                <th>Matière</th>
                                <th>Date</th>
                                <th>Statut</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for etudiant in etudiants %}
                                <tr>
                                    <td>{{ etudiant.user.nom }} {{ etudiant.user.prenom }}</td>
                                    <td>{{ session.matiere }}</td>
                                    <td>{{ session.date }}</td>
                                    <td>{{ form.status }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </article>

        <!-- Note -->
        <article id="note" class="panel">
            <p class="panel-title">Notes</p>
            <div class="note-content">
                <div class="card groupe">
                    <select></select>
                    <select></select>
                    <select></select>
                    <div class="stat-row">
                        <div class="stat"><div class="lbl">Moyenne</div></div>
                        <div class="stat"><div class="lbl">Max</div></div>
                        <div class="stat"><div class="lbl">Min</div></div>
                    </div>
                </div>
                <div class="card tableau">
                    <table>
                        <thead>
                            <tr><th>Étudiant</th><th>Note /20</th><th>Mention</th></tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </article>

        <!-- Message / Rapport -->
        <article id="rapport" class="panel">
            <p class="panel-title">Message / Rapport</p>
            <div class="rapport-content">
                <div class="card message">
                   <form method="post" action="">
                    {% csrf_token %}
                    {{ rapportForm.as_p }}
                    <button type="submit" name="submit_rapport">Envoyer</button>
                    </form>
                </div>
                <div class="card rapport-list">
                    hhhhhhhhhhhhhhhhhhh
                </div>
            </div>
        </article>
    </main>

    <script src="{% static 'scriptProfesseur/script.js' %}"></script>
</body>
</html>
