{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static "styles/style.css" %}">
    <script defer type="text/js" href="{% static "scripts/script.js" %}" ></script>
</head>
<body>
    
    <main>
        <div class="flex_container" id="container">
            
            <div class="form-container sign_up">
                <h3>Etudiant </h3>
                <form method="POST" action="{% url "login" %}"></form>
                {% csrf_token %}
                {{Etudiant_login.as_p}}
                <button type="submit">login </button>
            </div>
            <div class="form-container sign_in">
                <h3>Professeur</h3>
                <form method="POST" action="{% url "login" %}"></form>
                {% csrf_token %}
                {{Professeur_login.as_p}}
                <button type="submit">login </button>
            </div>
            <div class="toggle-container">
                
                <div class="toggle">
                    <div class="toggle-panel toggle-left">
                        <button class="hidden" id="login">Sign in </button>
                    </div>
                    <div class="toggle-panel toggle-right">
                        <button class="hidden" id="registre">Sign up </button>
                    </div>
                </div>
                
            </div>
        </div>
    </main>
</body>
</html>