<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href={% static "stylesProfesseur/style.css" %}>
    <script defer src={% static "scriptProfesseur/script.js" %} ></script>
</head> 
<body>
    <aside class="sidebar">
        <h2 class="profil">Bonjour ETUDIANT</h2>
        <ul>
            <li><a href="#" class="nav-link active" data-panel="Home"><span class="icon"></span> Calendrier</a></li>
            <li><a href="#" class="nav-link" data-panel="Absence"><span class="icon"></span> Absence</a></li>
            <li><a href="#" class="nav-link" data-panel="note"><span class="icon"></span> Note</a></li>
            <li><a href="#" class="nav-link" data-panel="rapport"><span class="icon"></span> Message / Rapport</a></li>
        </ul>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">logout</button>
        </form>
    </aside>

    <main>
        <!-- Calendrier -->
        <article id="Home" class="panel active">
            <p class="panel-title">Calendrier</p>
            <div class="calendrier-content">
                <div class="card calendrier-card">
                    
                </div>
            </div>
        </article>

        <!-- Absence -->
        <article id="Absence" class="panel">
            <p class="panel-title">Absences</p>
            <div class="absence-content">
                <div class="card seance">
                    <div class="seance-item">
                        <label>Matière</label>
                        <select>
                            
                        </select>
                    </div>
                    <div class="seance-item">
                        <label>Groupe</label>
                        <select>
                            
                        </select>
                    </div>
                    <div class="seance-item">
                        <label>Date</label>
                        <input type="date" value="2026-04-26">
                    </div>
                    <button class="btn-valider">Valider</button>
                </div>
                <div class="card tableau">
                    <table>
                        <thead>
                            <tr>
                                <th>Matière</th>
                                <th>Professeur</th>
                                <th>Date</th>
                                <th>Heure</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for session in sessions %}
                                <tr>
                                    <td>{{ session.matiere }}</td>
                                    <td>{{ session.getProfesseur }}</td>
                                    <td>{{ session.date }}</td>
                                    <td>{{ session.heure_depart }} - {{ session.heure_fin }}</td>
                                    <td>{{ session.type }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </article>

        <!-- Note -->
        <article id="note" class="panel">
            <p class="panel-title">Notes</p>
            <div class="note-content">
                <div class="card groupe">
                    <select></select>
                    <select></select>
                    <select></select>
                    <div class="stat-row">
                        <div class="stat"><div class="lbl">Moyenne</div></div>
                        <div class="stat"><div class="lbl">Max</div></div>
                        <div class="stat"><div class="lbl">Min</div></div>
                    </div>
                </div>
                <div class="card tableau">
                    <table>
                        <thead>
                            <tr><th>Matiere</th>
                                <th>Note /20</th>
                                <th>Mention</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for note in notes %}
                                <tr>
                                    <td>{{ note.matiere }}</td>
                                    <td>{{ note.note }}</td>
                                    <td> {% if note.note >= 10 %}Réussi {% else %}ratt{% endif %} </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </article>

        <!-- Message / Rapport -->
        <article id="rapport" class="panel">
            <p class="panel-title">Message / Rapport</p>
            <div class="rapport-content">
                <div class="card message">
                   <form action="{% url 'etudiant_dashboard' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }} 
                        <button type="submit" class="btn-valider">Envoyer</button>
                   </form>
                </div>
                <div class="card rapport-list">
                    
                </div>
            </div>
        </article>
    </main>

    <script src="script.js"></script>
</body>
</html>