{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'stylesProfesseur/stats.css' %}">
</head>
<body>
<aside class="sidebar">
        <h2 class="profil">Bonjour ETUDIANT</h2>
        <ul>
            <li><a href="#" class="nav-link active" data-panel="Home"><span class="icon"></span> Calendrier</a></li>
            <li><a href="#" class="nav-link" data-panel="Absence"><span class="icon"></span> Absence</a></li>
            <li><a href="#" class="nav-link" data-panel="note"><span class="icon"></span> Note</a></li>
            <li><a href="#" class="nav-link" data-panel="rapport"><span class="icon"></span> Message</a></li>
        </ul>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">logout</button>
        </form>
    </aside>
    <main>
        <div>
                <h1>Statistiques d'absence</h1>
                <canvas id="absenceChart" width="400" height="200"></canvas>
                {{ labels|json_script:"labels-data" }}
                {{ data|json_script:"data-values" }}

                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script src="{% static 'scriptProfesseur/stats.js' %}"></script>
        </div>
    </main>
</body>
</html>